
button{
    background-color:blue;
    color: white;
    font-family: comic sans ms;
    outline:none;
}
    
body{
    text-align:center;
    
}

p{
    font-family: comic sans ms;
    font-size:35px;
    color:purple;  
}

h3,h6{
    color:purple;
    font-family: comic sans ms;
}

body{
    background-color:lightBlue;    
    
}


#moneyButton:active{
    transform: scale(1.10);
    animation:dragon;    
}